.button {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: var(--font-size-norm);
    text-align: unset;
    cursor: pointer;
    outline: none;
    border: none;
}

.large {
    padding: 12px 20px;
    font-size: var(--font-size-md);
    font-weight: 500;
}

.black {
    background: var(--foottrack-black);
    color: var(--foottrack-white);
    border: solid var(--foottrack-white) 1px;
}

.blank {
    padding: 0;
    padding: unset;
    border-radius: unset;
    background: inherit;
    color: unset;
}

.primary {
    background: var(--foottrack-primary-red);
    color: #fff;
}