.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    background-image: url("assets/image-background-home.png");
    background-size: cover;
    height: 7vh;
    width: 100vw;
    color: white;
}

.accountControls {
    display: flex;
}

@media (max-width: 480px) {
    /* do some mobile stuff, maybe a sidebar */
    .header {
        background: unset;
    }
}

.nav a {
    font-size: var(--font-size-md);
    color: var(--foottrack-white);
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
}

.nav a:not(:first-child) {
    margin-left: 2rem;
}

.loginButton {
    color: var(--traffot-white);
    margin-right: 2rem;
}
