.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    background-image: url("../../../assets/image-background-home.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100vw;
    color: white;
}

.nav a {
    font-size: var(--font-size-md);
    color: var(--traffoot-white);
    padding-right: 2em;
    text-decoration: none;
}