.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    background-image: url("assets/image-background-home.png");
    background-size: cover;
    height: 7vh;
    width: 100vw;
    color: white;
}

.nav a {
    font-size: var(--font-size-md);
    color: var(--traffoot-white);
    text-decoration: none;
}

.nav a:not(:first-child) {
    margin-left: 2rem;
}

.loginButton {
    color: var(--traffot-white);
    margin-right: 2rem;
}