:root {
    font-size: 16px;
    font-family: 'Montserrat', 'Poppins';

    --font-size-xsm: 0.6rem;
    --font-size-sm: 0.8rem;
    --font-size-norm: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 2rem;
    --font-size-xlg: 3.6rem;

    --foottrack-grey: #9D9D9C;
    --foottrack-light-grey: #F7F7F7;
    --foottrack-white: #d5d5d4;
    --foottrack-black: #0D0C11;
    --foottrack-primary-red: #ea3659;

    /* --breakpoint-mobile: 600px;
    --breakpoint-tablet: 768px;
    --breakpoint-screen-sm: c;
    --breakpoint-screen-md: 1200px; anything more is a large screen */

}

@media only screen and (max-width: 992px) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}


body,
html,
#root {
    height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

