:root {
    font-size: 16px;
    font-family: 'Poppins';

    --font-size-sm: 0.8rem;
    --font-size-norm: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 2rem;
    --font-size-xlg: 3.6rem;

    --traffoot-white: #d5d5d4;
    --traffoot-black: #0D0C11;
    --traffoot-primary-red: #ea3659;
}

body,
html,
#root {
    height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
